<div data-role="page" id="blogFirstPage">
 	<header data-role="header" data-position="fixed" data-tap-toggle="false">
        <h1>Blog</h1>
    </header>
    
    <section data-role="content">
		<ul data-role="listview" id="blogList">
		</ul>
		
		<a href="searchFriend.html" data-role="button" >Search Friends</a>
		<a href="userInfo.html" data-role="button" >User info</a>
    </section>
    
    <footer data-role="footer" data-theme="a" data-position="fixed" data-tap-toggle="false">
		<div data-role="navbar">
			<a href="../talk/talkList.html" data-role="button" data-icon="myapp-email" data-iconpos="top" id="mainTalkButton">talklist</a>
			<a href="clubList.html" data-role="button" id="mainClubButton">clublist</a>
			<a href="lounge.html" data-role="button" id="mainLoungeButton">lounge</a>
			<a href="blog.html" data-role="button" id="mainBlogButton">blog</a>	
			<a href="setting.html" data-role="button" id="mainSettingButton">setting</a>	
		</div>		
    </footer>
</div>