<div data-role="page" id="talkSubListPage">	
	<script id="talkItemTpl2" type="text/x-jquery-tmpl">
	<li data-messageId="${idx}" id='talkItem_${idx}'>
		<h3>${userId}</h3>
		<img src="${thumnail}">
		<div class="ui-li-aside">
			<p><strong>${comment}</strong></p>
		</div>
	</li>
	</script>
	<script type="text/javascript">
		$("#talkSubListPage").on("pageshow", function(){
			var pageParams = $.stageComponent.pageParam();
			$.stageComponent.listview("talkSubList","talkItemTpl2",$.stageRestPool.GET_TALK_SUB_LIST+pageParams.talkIdx,null,function(){});
		});			
	</script>
    <header data-role="header" data-theme="a" data-position="fixed" data-id="foo">
        <h1>톡 보기</h1>
            <a href="talkSubList.html"  data-icon="grid" data-theme="b">뒤로</a>
			       	<a href="talkWrite.html" data-icon="grid" data-theme="b">톡 쓰기</a>
    </header>

    <section data-role="content">
		<ul data-role="listview" id="talkSubList">
		</ul>
    </section>

    <footer data-role="footer" data-theme="a" data-position="fixed" data-id="foo1">
		<div data-role="navbar">
			<a href="talkList.html" data-role="button" data-icon="myapp-email" data-iconpos="top" id="mainTalkButton">대화</a>
			<a href="clubList.html" data-role="button" id="mainClubButton">클럽</a>
			<a href="lounge.html" data-role="button" id="mainLoungeButton">라운지</a>
			<a href="blog.html" data-role="button" id="mainBlogButton">블로그</a>	
			<a href="setting.html" data-role="button" id="mainSettingButton">설정</a>	
		</div>		
    </footer>
</div>
